* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
    max-width: max-content;
    margin: 0 auto;
    padding: 20px;
}

.avatar {
    width: 440px;
    height: 440px;
    position: relative;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.avatar-detail {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.avatar-head {
    top: 125px;
}

.avatar-top {
    top: 58px;
    z-index: 2;
}

.avatar-mouth {
    top: 225px;
}

.avatar-eyes {
    top: 200px;
}

.avatar-glasses {
    top: 194px;
    z-index: 1;
}

.avatar-eyebrows {
    top: 176px;
}

.avatar-body {
    top: 297px;
}

.avatar-pet {
    position: absolute;
    bottom: -50px;
    left: -50px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    transition: all 0.5s;
    width: 100px;
    height: 40px;
    border: none;
    background: #1876d0;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
    background: #1464af;
}